@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

:root {

  --color-primary: #8D9B6A;   
  --color-secondary: #EADDCA; 
  --color-accent: #D5B493;    
  --color-text: #3E362E;     
  --color-background: #FCF9F4; 
  --color-white: #FFFFFF;

  /* Tipografía */
  --font-primary: 'Montserrat', sans-serif;

  /* Espaciados (aire) */
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 32px;
  --spacing-xl: 64px;

  /* Otros */
  --border-radius: 8px;
  --shadow-light: 0 4px 15px rgba(0, 0, 0, 0.05);
  --shadow-medium: 0 6px 20px rgba(0, 0, 0, 0.1);
  --transition-smooth: all 0.3s ease-in-out;
}